* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

.body{
    min-height: 100vh;
    margin: 0; padding: 0px 10px;
}

body {
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  body a {  text-decoration: none; 
    color: rgb(65, 58, 64);
    font-style: normal;
    cursor: pointer;
  }

.header {
     background-color: rgb(60, 156, 201);
     padding: 10px;
     height: 400px;
     border-radius: 20px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
   nav a { 
      text-decoration: none; 
      color: rgb(225, 162, 219);
      font-style: normal;
      font-weight: bolder;
      font-size: larger;
      cursor: pointer;
  }
  a:hover {
    color: white;  
   }

 .footer{
    display: flex;
    justify-content: space-between; 
    background-color: rgb(173, 173, 173);
    font-size: 20px;
    border-radius: 10px; 
    padding: 10px;  
}
.pic {
   height: 50px; 
}
.main-conteiner {
    display: flex;
    flex-wrap: wrap;
  }

  
  .img {
     border-radius: 30px;
     width: 200px; 
  }
  
  .profile div {
      height: 200px;
      width: 50%;
      float: left;
  }
 
  .section-title {
    font-size: 20px;
    text-transform: uppercase;
    color:rgb(60, 156, 201);
  }
  

    .section {
      width: 50%;
    }

.name {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-top: 10%;
   
}

